body {
    font-family: Arial, sans-serif;
    background: #0b1a33;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.atm {
    background: #123670;
    padding: 20px;
    border-radius: 15px;
    width: 350px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    background: #ffb703;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background: #ffca3a;
}

input {
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    font-size: 18px;
}
